.App {
  text-align: center;
  /*background: repeating-linear-gradient(
  45deg,
  #000,
  #000 40px,
  #fff 80px 
); */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-main {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-left: 5%;
  padding-right: 5%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile-pic {
  max-height: 20rem;
  max-width: 20rem;
  border-radius: 50%;
  border: .1875rem solid black;
}
